@charset "UTF-8";

/*heade logo*/
.header_logo{
	width : 60px;
}
/*logo 부분을 대문자로 css에서는 소문자로 해서 적용이 안됬음
주의할것*/

/* 눈누 폰트*/
@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*전체폰트 적용*/
*{
	font-family: 'establishRetrosansOTF';
}

/*header member profile*/
.header_profile{
	width: 70px; height: 70px; /*가로사이즈 세로사이즈 = 고정크기일때 사이즈 비율 깨짐.*/
	border-radius: 40px; /*둥근 모서리*/
	padding: 1px; /*안쪽여백*/
	border: 1px solid #e8e8e8; /*테두리*/
	/*사진의 사이즈 비율 맞춤*/
	/*object-fit : contain 자동 원본 비율 맞춤*/
	/*object-fit : none; 사이즈 고정*/
	object-fit: cover;/*비율유지, 사이즈 잘림*/
	
}